<!-- Header -->

<nav class="flex items-center justify-start flex-row bg-black p-6" style="position: fixed; width: 100%">
    <a href="/" class="mr-3 flex items-center text-green-100 hover:text-white">
        <img src="/static/cool_duck.svg" alt="Duck logo" class="w-8 h-8 inline-block" style="min-width:2rem; min-height:2rem; filter: invert(1);" />
        <span class="ml-1">Home</span>
    </a>
    <div class="flex-row text-center flex">
                <a href="/" class="inline-block text-center text-green-200 hover:text-white mr-4">
                    Posts
                </a>
                <a href="/about" class="inline-block text-green-200 hover:text-white mr-4">
                    About
                </a>
                <a href="https://github.com/Nereuxofficial/duckblog/issues/new" class="inline-block text-green-200 hover:text-white mr-4">
                    Feedback
                </a>
                <a href="https://github.com/sponsors/Nereuxofficial" class="inline-block text-green-200 hover:text-white plausible-event-name=subinterest">
                    Donate
                </a>
    </div>
</nav>
