<!-- This is cool duck, the assistant in this blog -->
<div class="flex justify-center items-center">
<div class="flex inline-flex p-2 rounded-lg bg-gray-700 p-4"> <!-- Adjust padding here -->
    <img src="/static/cool_duck.svg" alt="" class="h-20 mr-2"> <!-- Adjust image size here -->
    <div class="flex flex-col">
        <p class="text-center font-bold">Cool Duck says</p>
        <p class="font-light text-center">{{ text }}</p>
    </div>
</div>
</div>